.so filter=lfs diff=lfs merge=lfs -text
.so.meta filter=lfs diff=lfs merge=lfs -text
.bundle filter=lfs diff=lfs merge=lfs -text
.bundle.meta filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
